In [36]:
#!pip install selenium
#webdriver e jogar na pasta que esta instalado o python

In [37]:
from selenium import webdriver #do selenium (lib) importar so webdriver
from selenium.webdriver.common.keys import Keys
#Passo1: pegara cotação do Dolar
#abrir o navegador
navegador = webdriver.Chrome()
#entrar no google
navegador.get("https://www.google.com/")
#pesquisar cotação do dolar no google
navegador.find_element("xpath", "/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input").send_keys("cotação dolar")
navegador.find_element("xpath", "/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input").send_keys(Keys.ENTER)
#pegar cotação
cotacao_dolar = navegador.find_element("xpath", '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
#.sen_keys() se quer escrever no elemento
#.click() se quer clicar no elemento
#.get() se quiser pegar informação do elemento


#Passo2: pegar a cotação do Euro
navegador.get("https://www.google.com/")
navegador.find_element("xpath", "/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input").send_keys("cotação euro")
navegador.find_element("xpath", "/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input").send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element("xpath", '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")


#Passo3: pegar a cotação do Ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element("xpath", '//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",",  ".")


print("Cotação Dolar R$:", cotacao_dolar)
print("Cotação Euro R$:", cotacao_euro)
print("Cotação Ouro R$:", cotacao_ouro)
navegador.quit() #para fechar navegador no final

Cotação Dolar R$: 5.2126
Cotação Euro R$: 5.3416379130000005
Cotação Ouro R$: 303.25

In [38]:
#Passo4: Atualizar a base de dados
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [39]:
#Passo5: recalcular os preços
#Atualizar as cotações

tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

#Preço de compra = Preço original * Cotação
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]
tabela["Preço de de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

#Preço de venda = Preço de compra * Margem


display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda,Preço de de Venda
0,Câmera Canon,999.99,Dólar,5.212600,5212.547874,1.40,6999.930,7297.567024
1,Carro Renault,4500.00,Euro,5.341638,24037.370609,2.00,54000.000,48074.741217
2,Notebook Dell,899.99,Dólar,5.212600,4691.287874,1.70,7649.915,7975.189386
3,IPhone,799.00,Dólar,5.212600,4164.867400,1.70,6791.500,7080.274580
4,Carro Fiat,3000.00,Euro,5.341638,16024.913739,1.90,34200.000,30447.336104
5,Celular Xiaomi,480.48,Dólar,5.212600,2504.550048,2.00,4804.800,5009.100096
6,Joia 20g,20.00,Ouro,303.250000,6065.000000,1.15,8050.000,6974.750000

In [40]:
#Passo6: Exportar a bases de dados
tabela.to_excel("Produtos Novo.xlsx", index=False)